@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  font-family: 'Purple Purse', cursive;
  background-color: #f2fbfe;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header {
  background-color: #fed64f;
}

.track {
  border: 2px solid rgb(12, 94, 12);
  border-radius: 5px;
  padding-top: 1.5rem;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 50%;
}

.track .img {
  width: 50%;
}

.track .name {
  font-weight: bold;
  font-size: 1em;
  color: #000;
}

.track .name {
  font-weight: bold;
  font-size: 1em;
  color: #000;
}

.track .artist {
  margin-top: 15px;
  font-size: 0.8em;
  color: #000;
}

.track .album {
  margin-top: 10px;
  font-size: 0.8em;
  color: #000;
}

button {
  top: 50%;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 90px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
